body{
  background-color: black;
  font-size: 22px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
header{
  display: flex;
  position: fixed;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  align-items: center;
  z-index: 1;
}
nav{
  text-align: right;
}
header img{
  height: 50px;
  padding-left: 10px;
}
